VBox {
    -fx-background-color: #555555;
}

.grid-pane {
    /*-fx-content-display: ;*/
}

.formula-input {
    -fx-border-radius: 10px;
    -fx-border-color: #905548;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-padding: 10px;
    -fx-max-width: 300px;
}

.result-history {
    -fx-text-alignment: center;
    -fx-background-color: #f3f3f3;
    -fx-padding: 10px;
    -fx-max-width: 300px;
    -fx-max-height: 2px;
    -fx-font-size: 10px;
}

.result-slot {
    -fx-border-style: hidden;
    -fx-background-color: #f3f3f3;
}

.keypad-button {
    -fx-border-color: #dcf5fa;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-background-color: #555555;
    -fx-min-height: 45px;
    -fx-min-width: 45px;
    -fx-font-size: 16px;
    -fx-text-fill: #dcf5fa;
}

.keypad-button-alt {
    -fx-border-color: #dcf5fa;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-background-color: #696969;
    -fx-min-height: 45px;
    -fx-min-width: 45px;
    -fx-font-size: 16px;
    -fx-text-fill: #dcf5fa;
}

.keypad-button:hover {
    -fx-background-color: gray;
    -fx-cursor: pointer;
}

.keypad-button-alt:hover {
    -fx-background-color: gray;
    -fx-cursor: pointer;
}

.keypad-button-backspace {
    -fx-border-color: #dcf5fa;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-background-color: #555555;
    -fx-min-height: 45px;
    -fx-min-width: 45px;
    -fx-font-size: 18px;
    -fx-text-fill: #dcf5fa;
}

.keypad-button-backspace:hover {
    -fx-background-color: gray;
    -fx-cursor: pointer;
}

.calculate-button {
    -fx-border-color: gray;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-text-fill: white;
    -fx-min-height: 45px;
    -fx-min-width: 45px;
    -fx-background-color: #5fc314;
    -fx-font-size: 20px;
}

.calculate-button:hover {
    -fx-background-color: #68fc48;
    -fx-cursor: pointer;
}